
@{
    ViewBag.Title = "ChiTietBaiViet";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div ng-controller="CTBVPost">
    <!-- PAGE HEADER -->
    <div id="post-header" class="page-header">
        <div class="page-header-bg" style="background-image: url(/Assests/img/header-1.jpg);
        background-position: 0px 58px;" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="post-category">
                        <a href="/baiViet/baiviettheoloai#!?maLoai={{maDMC}}">{{tenDM}} - {{tenDMC}}</a>
                    </div>
                    <h1>{{tieuDe}}</h1>
                    <ul class="post-meta">
                        <li><a href="author.html">{{tacGia}}</a></li>
                        <li>{{thoiGian | filterdate | date:'dd, TMM, yyyy'}}</li>
                        @* <li><i class="fa fa-comments"></i> 3</li>*@
                        <li><i class="fa fa-eye"></i>{{luotXem}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-8">
                    <!-- post share -->
                    <div class="section-row">
                        <div class="post-share">
                            <a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
                            <a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
                            <a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
                            <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
                        </div>
                    </div>
                    <!-- /post share -->
                    <!-- post content -->
                    <div class="section-row">
                        <h3>{{tieuDeTiep}}</h3>
                        <figure>
                            <img src="{{hinhAnh3}}" alt="">
                        </figure>
                        <p>{{noiDung1}}</p>

                        <figure class="pull-right">
                            <img style="width:300px; height:200px;" src="{{hinhAnh1}}" alt="">
                            <figcaption>Món ăn tinh thần siêu hấp dẫn.</figcaption>
                        </figure>

                        <p>{{noiDung2}}</p>
                        <p>{{noiDung2}}</p>
                        <p>{{noiDung2}}</p>
                        <p>{{noiDung2}}</p>
                        <figure class="pull-left">
                            <img style="width:300px; height:200px;" src="{{hinhAnh2}}" alt="">
                            <figcaption>Cùng nhau tạo ra những điều thú vị.</figcaption>
                        </figure>

                        <p>{{noiDung3}}</p>
                        <p>{{noiDung1}}</p>

                        <h3>Yêu trọn từng khoảnh khắc sáng tạo.</h3>

                    </div>
                    <!-- /post content -->
                    <!-- post tags -->
                    <div class="section-row" ng-controller="danhMucYUMMYFooter">
                        <div class="post-tags">
                            <ul>
                                <li>TAGS:</li>
                                <li style=" padding-left: 3px;" ng-repeat="i in listdmYMFooter"><a href="/baiViet/baiviettheoloai#!?maLoai={{i.madmc}}">{{i.tendmc}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post tags -->
                    <!-- post author -->
                    <div class="section-row">
                        <div class="section-title">
                            <h3 class="title">About <a href="author.html">Thảo Nguyễn</a></h3>
                        </div>
                        <div class="author media">
                            <div class="media-left">
                                <a href="author.html">
                                    <img class="author-img media-object" src="~/Assests/images/avt.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p>Để lên ý tưởng và tạo ra những bài viết hay, thú vị tôi rất muốn lắng nghe ý kiến đóng góp của các bạn hy vọng chúng ta sẽ đồng hành cùng nhau khám phá ẩm thực.</p>
                                <ul class="author-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post author -->
                    <!-- /new post -->
                    <div>
                        <div class="section-title">
                            <h3 class="title">Bài đăng mới nhất</h3>
                        </div>
                        <div class="row" ng-controller="newpostCT">
                            <!-- post -->
                            <div class="col-md-4" ng-repeat="i in listbaivietmoiCT">
                                <div class="post post-sm">
                                    <a class="post-img" onclick="setTimeout(function () { window.location.reload() }, 100)" href="/chiTietBaiViet/ChiTietBaiViet#!?maBV={{i.MaBV}}"><img src="{{i.HinhAnh}}" alt=""></a>
                                    <div class="post-body">
                                        <div class="post-category">
                                            <a href="/baiViet/baiviettheoloai#!?maLoai={{i.MaDMC}}">{{i.tendanhmuc}}, {{i.tendanhmuccon}}</a>

                                        </div>
                                        <h3 class="post-title"><a onclick="setTimeout(function () { window.location.reload() }, 100)" href="/chiTietBaiViet/ChiTietBaiViet#!?maBV={{i.MaBV}}">{{i.TieuDe}}</a></h3>
                                        <ul class="post-meta">
                                            <li><a href="author.html">{{i.tacgia}}</a></li>
                                            <li>{{i.ThoiGianDang | filterdate | date:'dd, TMM, yyyy'}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /post -->
                        </div>
                    </div>
                    <!-- /new post -->
                    <!-- post comments -->
                    <div class="section-row">
                        <div class="section-title">
                            <h3 class="title">Bình luận</h3>
                        </div>
                        <div id="PhanHoiController" class="post-comments" ng-controller="PhanHoiController">
                            <!-- comment -->
                            <div class="media" ng-repeat="i in listBL">
                                <div class="media-left">
                                    <img class="media-object" src="~/Assests/img/download.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4>{{i.tenNGuoiDang}}</h4>
                                        <span class="time">{{i.thoiGianDang | filterdate | date:'dd, TMM, yyyy'}}</span>
                                    </div>
                                    <p>{{i.noiDung}}</p>
                                    <a href="#" class="reply">Trả lời</a>
                                    <!-- comment -->
                                    <div class="media media-author" ng-repeat="items in i.listTLBL">
                                        <div class="media-left">
                                            <img class="media-object" src="~/Assests/img/download.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <h4>{{items.tenNguoiDang}}</h4>
                                                <span class="time">{{items.thoiGianDang | filterdate | date:'dd, TMM, yyyy'}}</span>
                                            </div>
                                            <p>{{items.noiDung}}</p>
                                            <a href="#" class="reply">Trả lời</a>
                                        </div>
                                    </div>
                                    <!-- /comment -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /post comments -->
                    <!-- post reply -->
                    <div class="section-row">
                        <div class="section-title">
                            <h3 class="title">Để lại bình luận</h3>
                        </div>
                        <form class="post-reply" ng-controller="DangBinhLuanController">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea ng-model="cm.noiDung" class="input" name="message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input ng-model="cm.tenNGuoiDang" class="input" type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input ng-model="cm.email" class="input" type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button ng-click="dangBL()" class="primary-button">Đăng</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- /post reply -->
                </div>

                <div class="col-md-4">
                    <!-- ad widget -->
                    @Html.Partial("_PartialAuthor")
                    <!-- /ad widget -->
                    <!-- social widget -->
                    @Html.Partial("_PartialTruyenThongXaHoi")
                    <!-- /social widget -->
                    <!-- category widget -->
                    @Html.Partial("_PartialDanhMuc")
                    <!-- /category widget -->
                    <!-- newsletter widget -->
                    @Html.Partial("_PartialGmail")
                    <!-- /newsletter widget -->
                    <!-- post widget -->
                    @Html.Partial("_PartialBvNoiBat")
                    <!-- /post widget -->
                    <!-- galery widget -->
                    @Html.Partial("_Partialinstagram")
                    <!-- /galery widget -->
                    <!-- Ad widget -->
                    @Html.Partial("_PartialPageQuangCao450x360")

                    <!-- /Ad widget -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</div>


