@{
    ViewBag.Title = "baiviettheoloai";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div ng-controller="bvTheoLoai">
    <div class="page-header">
        <div class="page-header-bg" style="background-image: url('/Assests/img/header-2.jpg');" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center" style="color:white;">
                    <h1 class="text-uppercase">{{tendanhmuccon}}</h1>
                    <i class="fa fa-eye"></i>{{luotXem}}
                </div>  
            </div>
        </div>
    </div>
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-8">
                    <!-- post share -->
                    <div class="section-row">
                        <div class="post-share">
                            <a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
                            <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
                        </div>
                    </div>
                   
                    <!--</div>-->
                    <div ng-controller="LoaibvPost">
                        <!-- post -->
                        <div ng-repeat="i in listdsloaibv" class="post post-row">
                            <a class="post-img" href="/chiTietBaiViet/ChiTietBaiViet#!?maBV={{i.MaBV}}"><img src="{{i.HinhAnh}}" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="/baiViet/baiviettheoloai#!?maLoai={{i.MaDMC}}">{{i.tendanhmuc}}, {{i.tendanhmuccon}}</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="/chiTietBaiViet/ChiTietBaiViet#!?maBV={{i.MaBV}}">{{i.TieuDe}}</a></h3>
                                <ul class="post-meta">
                                    <li><a href="author.html">{{i.tacgia}}</a></li>
                                    <li>{{i.ThoiGianDang | filterdate | date:'dd, TMM, yyyy'}}</li>
                                </ul>
                                <p>{{i.NoiDungCon}}</p>
                            </div>
                        </div>
                        <!-- /post -->
                        <div class="section-row loadmore text-center">
                            <a ng-click="load()" class="primary-button">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- ad widget-->
                    @Html.Partial("_PartialAuthor")
                    <!-- /ad widget -->
                    <!-- social widget -->
                    @Html.Partial("_PartialTruyenThongXaHoi")
                    <!-- /social widget -->
                    <!-- category widget -->
                    @Html.Partial("_PartialDanhMuc")
                    <!-- /category widget -->
                    <!-- newsletter widget -->
                    @Html.Partial("_PartialGmail")
                    <!-- /newsletter widget -->
                    <!-- post widget -->
                    @Html.Partial("_PartialBvNoiBat")
                    <!-- /post widget -->
                    <!-- galery widget -->
                    @Html.Partial("_Partialinstagram")
                    <!-- /galery widget -->
                    <!-- Ad widget -->
                    @Html.Partial("_PartialPageQuangCao450x360")
                    <!-- /Ad widget -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

</div>