
@{
    ViewBag.Title = "baiViet";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div id="hot-post" class="row hot-post">
            <div class="col-md-8 hot-post-left">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/images/Phan1.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Phần 1:</a>
                        </div>
                        <h3 class="post-title title-lg"><a href="blog-post.html">Ăn các món này với nhau sẽ đem đên sức khoẻ tuyệt vời.</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">Thao Nguyen</a></li>
                            <li>22, T3, 2020</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4 hot-post-right">
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/images/Phan2.png" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Phần 2:</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Tìm hiểu những cách tách lòng đỏ và lòng trắng trứng hiệu quả nhất.</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">Thao Nguyen</a></li>
                            <li>16 T6, 2020</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-thumb">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/images/Phan3.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Phần 3:</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Tổng hợp các loại rau tuyệt vời cho người giảm cân.</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">Thao Nguyen</a></li>
                            <li>18, T11, 2020</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- row -->
                <div ng-controller="newpost"  class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">BÀI ĐĂNG MỚI NHẤT</h2>
                        </div>
                    </div>
                    <!-- post -->
                    <div ng-repeat="i in listbaivietmoi" class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="/baiViet/ChiTietBaiViet#!?maBV={{i.MaBV}}"><img src="{{i.HinhAnh}}" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">{{i.tendanhmuc}}, {{i.tendanhmuccon}}</a>
                                
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">{{i.TieuDe}}</a></h3>
                                <ul class="post-meta">
                                    <li><a href="author.html">{{i.tacgia}}</a></li>
                                    <li>{{i.ThoiGianDang | filterdate | date:'dd, TMM, yyyy'}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                </div>
                <!-- /row -->
                <!-- row -->
                <div ng-controller="cakepost" class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">BÁNH NGỌT</h2>    
                        </div>
                    </div>
                    <!-- post -->
                    <div ng-repeat="ii in listbaivietBanhNgot" class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="/baiViet/chiTietBaiViet#!?maLoai={{i.MaDMC}}"><img src="{{ii.HinhAnh}}" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">{{ii.tendanhmuc}}, {{ii.tendanhmuccon}}</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="blog-post.html">{{ii.TieuDe}}</a></h3>
                                <ul class="post-meta">
                                    <li><a href="author.html">{{ii.tacgia}}</a></li>
                                    <li>{{ii.ThoiGianDang | filterdate | date:'dd, TMM, yyyy'}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <!-- /row -->
                <!-- row -->
                <div ng-controller="HaNoipost" class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Ký ức Hà Nội</h2>
                        </div>
                    </div>
                    <!-- post -->
                    <div ng-repeat="iii in listbaivietHaNoi" class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="/baiViet/chiTietBaiViet#!?maLoai={{i.MaDMC}}"><img src="{{iii.HinhAnh}}" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">{{iii.tendanhmuc}}, {{iii.tendanhmuccon}}</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="blog-post.html">{{iii.TieuDe}}</a></h3>
                                <ul class="post-meta">
                                    <li><a href="author.html">{{iii.tacgia}}</a></li>
                                    <li>{{iii.ThoiGianDang | filterdate | date:'dd, TMM, yyyy'}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <!-- /row -->
                <!-- row -->
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Technology &amp; Health</h2>
                        </div>
                    </div>-->
                    <!-- post -->
                    <!--<div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-4.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Health</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                                <ul class="post-meta">
                                    <li><a href="author.html">Thao Nguyen</a></li>
                                    <li>20, T3, 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    <!-- /post -->
                    <!-- post -->
                    <!--<div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-1.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Travel</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                <ul class="post-meta">
                                    <li><a href="author.html">Thao Nguyen</a></li>
                                    <li>20, T3, 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    <!-- /post -->
                    <!-- post -->
                    <!--<div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-3.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
                                <ul class="post-meta">
                                    <li><a href="author.html">Thao Nguyen</a></li>
                                    <li>20, T3, 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    <!-- /post -->
                <!--</div>-->
                <!-- /row -->
            </div>
            <div class="col-md-4">
                <!-- ad widget-->
                @Html.Partial("_PartialAuthor")
                <!-- /ad widget -->
                <!-- social widget -->
                @Html.Partial("_PartialTruyenThongXaHoi")
                <!-- /social widget -->
                <!-- newsletter widget -->
                @Html.Partial("_PartialGmail")
                <!-- /newsletter widget -->
                <!-- category widget -->
                @Html.Partial("_PartialDanhMuc")
                <!-- /category widget -->
                <!-- post widget -->
                @Html.Partial("_PartialBvNoiBat")
                <!-- /post widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ad -->
            <div class="col-md-12 section-row text-center">
                <a href="#" style="display: inline-block;margin: auto;">
                    <img class="img-responsive" src="~/Assests/img/ad-2.jpg" alt="">
                </a>
            </div>
            <!-- /ad -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-4">
                <div class="section-title">
                    <h2 class="title">Lifestyle</h2>
                </div>
                <!-- post -->
                <div class="post">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-6.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Fashion</a>
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4">
                <div class="section-title">
                    <h2 class="title">Fashion</h2>
                </div>
                <!-- post -->
                <div class="post">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-5.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4">
                <div class="section-title">
                    <h2 class="title">Health</h2>
                </div>
                <!-- post -->
                <div class="post">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-9.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                    </div>
                </div>
                <!-- /post -->
            </div>
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">
            <div class="col-md-4">
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-1.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Travel</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-2.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Technology</a>
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-3.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4">
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-4.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Health</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
                    </div>
                </div>
                <!-- /post -->
                <!-- /post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-5.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Health</a>
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-6.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Fashion</a>
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                    </div>
                </div>
                <!-- /post -->
            </div>
            <div class="col-md-4">
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-8.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Travel</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-9.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Technology</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-widget">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/widget-10.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                    </div>
                </div>
                <!-- /post -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- post -->
                <div class="post post-row">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-13.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Travel</a>
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-row">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-1.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Travel</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-row">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-5.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-row">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-6.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Fashion</a>
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </div>
                </div>
                <!-- /post -->
                <!-- post -->
                <div class="post post-row">
                    <a class="post-img" href="blog-post.html"><img src="~/Assests/img/post-7.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="category.html">Health</a>
                            <a href="category.html">Lifestyle</a>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
                        <ul class="post-meta">
                            <li><a href="author.html">John Doe</a></li>
                            <li>20 April 2018</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </div>
                </div>
                <!-- /post -->

                <div class="section-row loadmore text-center">
                    <a href="#" class="primary-button">Load More</a>
                </div>
            </div>
            <div class="col-md-4">
                <!-- galery widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Instagram</h2>
                    </div>
                    <div class="galery-widget">
                        <ul>
                            <li><a href="#"><img src="~/Assests/img/galery-1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Assests/img/galery-2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Assests/img/galery-3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Assests/img/galery-4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Assests/img/galery-5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Assests/img/galery-6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /galery widget -->
                <!-- Ad widget -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="~/Assests/img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /Ad widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
